body{
    background-color: white;
}

header{
  box-sizing: border-box;
  padding: 0 .3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: space-between;
}

h1{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 img{
  width: 3em;
}

.heading{
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading button{
  background-color: transparent;
  outline: none;
  border: none;
}

.heading button svg{
  margin: 0;
  font-size: 2em;
  color: rgb(51, 51, 51);
}

header .right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .right input{
  width: 12em;
  max-width: 20em;
  height: 2em;
  background-color: rgb(241, 239, 239);
  outline: none;
  border-radius: 5px;
  border: none;
}

header .right button{
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 0 0 .5em;
}

header .right button svg{
  margin: 0;
  font-size: 2em;
  color: rgb(51, 51, 51);
}

nav{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navcontainer{
  padding: 1em .1em;
  overflow-x: scroll;
  width: 22em;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  height: 2px;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li{
  padding: 0;
  margin: 0 .7em;
  list-style: none;
  text-align: center;
}

nav ul li p{
  width: 3.5em;
  height: 3em;
  background-color: lightgray;
  border-radius: 50%;
  outline: 3px solid #e6683c;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%,  50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  outline-offset: .18em;
}

main {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.card{
  grid-area: postbody;
  overflow-y: scroll;
}

.navigation{
  grid-area: navigation;
  display: none;
}

footer{
  box-sizing: border-box;
  grid-area: footer;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 .8em;
}

footer ul{
box-sizing: border-box;
flex-grow: 1;
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
align-items: center;
place-content: space-between;
}

footer ul li{
  font-weight: 400;
  font-size: .8em;
  list-style: none;
  padding: 0;
  cursor: pointer
}

.insta, .search, .heart, .menu, .labels{
  display: none;
}

.instatext{
  font-size: 1.75em;
  font-style: italic;
  display: none;
}

.instatext img{
  width: 5em;
}

.insta svg{
    width: 2.9em;
    height: 2.9em;
}

footer ul li svg{
  width: 1.8em;
  height: 1.8em;
}

.landingpagecontainer {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: grid;
  background-color: aquamarine;
  grid-template-areas: 
    "main"
    "footer";
  width: 100%;
  height: 100vh;
  grid-template-rows: 92% 8%;
}

@media only screen and (min-width: 776px) {
  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main";
      grid-template-columns: 10% 90%;
      grid-template-rows: 100%;
  }

  header{
    display: none;
  }

  nav .navcontainer{
    width: 40em;
  }

  footer{
    display: block;
    padding: 0;
  }

  footer ul{
    position: relative;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  footer ul li{
    list-style: none;
    display: list-item;
    padding: 1em 0;
    color: black;
  }

  footer ul li:hover{
    background-color: lightgray;
    border-radius: 5px;
  }

  footer ul li span{
    display: block;
  }

  .insta, .search, .heart{
    display: block;
  }

  .insta{
    margin: 1.6em 0 1.4em 0;
  }

  .menu{
    display: block;
    position: absolute;
    bottom: 1em;
    width: 100%;
  }

  .avatar{
    display: block;
  }
}
@media only screen and (min-width: 1169px) {
  .navigation{
    display: block;
  }

  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main navigation";
      grid-template-columns: 10% 60% 30%;
      grid-template-rows: 100%;
  }

  footer ul li svg{
    width: 1.5em;
    height: 1.5em;
  }
}

@media only screen and (min-width: 1265px) {
  .navigation{
    display: block;
  }

  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main navigation";
    grid-template-columns: 18% 55% 27%;
    grid-template-rows: 100%;
  }

  footer ul{
    text-align: left;
    width: 100%;
    height: 100%;
  }

  footer ul li, .search, .heart, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer ul li, .search, .heart, .menu svg{
    padding-left: 1em;
  }

  .instaIcon{
    display: none;
  }

  .instatext{
    display: block;
  }

  .labels {
    color: rgb(88, 87, 87);
    display: block;
    padding-left: 1em;
    font-size: 1.2em;
  }

  .menu{
    width: 93%;
  }



}