body{
    background-color: white;
}

header{
  grid-area: header;
}

.card{
  grid-area: postbody;
  overflow-y: scroll;
}

main {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-areas: 
    "header"
    "postbody";
  grid-template-rows: 30% 70%;
  grid-area: main;
}

.navigation{
  grid-area: navigation;
  display: none;
}

footer{
  box-sizing: border-box;
  grid-area: footer;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 .8em;
}

footer ul{
box-sizing: border-box;
flex-grow: 1;
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
align-items: center;
place-content: space-between;
}

footer ul li{
  font-weight: 400;
  font-size: .8em;
  list-style: none;
  padding: 0;
  cursor: pointer
}

.insta, .search, .heart, .menu, .labels{
  display: none;
}

.instatext{
  font-size: 1.75em;
  font-style: italic;
  display: none;
}

.instatext img{
  width: 5em;
}

.insta svg{
    width: 2.9em;
    height: 2.9em;
}

footer ul li svg{
  width: 1.8em;
  height: 1.8em;
}

.landingpagecontainer {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: grid;
  background-color: aquamarine;
  grid-template-areas: 
    "main"
    "footer";
  width: 100%;
  height: 100vh;
  grid-template-rows: 92% 8%;
}

@media only screen and (min-width: 776px) {
  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main";
      grid-template-columns: 10% 90%;
      grid-template-rows: 100%;
  }

  footer{
    display: block;
    padding: 0;
  }

  footer ul{
    position: relative;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  footer ul li{
    list-style: none;
    display: list-item;
    padding: 1em 0;
    color: black;
  }

  footer ul li:hover{
    background-color: lightgray;
    border-radius: 5px;
  }

  footer ul li span{
    display: block;
  }

  .insta, .search, .heart{
    display: block;
  }

  .insta{
    margin: 1.6em 0 1.4em 0;
  }

  .menu{
    display: block;
    position: absolute;
    bottom: 1em;
    width: 100%;
  }

  .avatar{
    display: block;
  }
}
@media only screen and (min-width: 1169px) {
  .navigation{
    display: block;
  }

  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main navigation";
      grid-template-columns: 10% 60% 30%;
      grid-template-rows: 100%;
  }

  footer ul li svg{
    width: 1.5em;
    height: 1.5em;
  }
}

@media only screen and (min-width: 1265px) {
  .navigation{
    display: block;
  }

  .landingpagecontainer {
    box-sizing: border-box;
    background-color: pink;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
      "footer main navigation";
    grid-template-columns: 18% 55% 27%;
    grid-template-rows: 100%;
  }

  footer ul{
    text-align: left;
    width: 100%;
    height: 100%;
  }

  footer ul li, .search, .heart, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer ul li, .search, .heart, .menu svg{
    padding-left: 1em;
  }

  .instaIcon{
    display: none;
  }

  .instatext{
    display: block;
  }

  .labels {
    color: rgb(88, 87, 87);
    display: block;
    padding-left: 1em;
    font-size: 1.2em;
  }

  .menu{
    width: 93%;
  }



}